<md-progress-linear
  ng-if="$ctrl.isLoading"
  md-diameter="100"
  md-mode="indeterminate"
></md-progress-linear>
<div>
  <div
    ng-if="$ctrl.isErrored"
  >{{$ctrl.error}}</div>
  <div
    ng-if="$ctrl.showResultPicker"
  >
    <span>Multiple results, choose one :</span>
    <md-button ng-click="$ctrl.clearResults()">CLEAR</md-button>
  </div>
  <md-list
    class="arcid-results"
  >
    <md-list-item
      class="md-3-line"
      ng-repeat="flight in $ctrl.flights track by $index"
      ng-click="$ctrl.selectFlight(flight.ifplId, flight)"
      ng-class="{selected: $ctrl.selectedIfplId === flight.ifplId}"
    >
      <div class="md-list-item-text" layout="column">
        <h3>{{ flight.callsign }}</h3>
        <h4>{{ flight.departure }} -> {{ flight.destination }}</h4>
        <p>EOBT : <span am-time-ago="flight.eobt"></span></p>
      </div>
    </md-list-item>
  </md-list>
</div>
