<div ng-if="$ctrl.isLoading" layout="row" layout-align="space-around center">
  <md-progress-circular
    md-diameter="100"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>
<div 
  ng-if="!$ctrl.isLoading && $ctrl.showProfile"
  flex
>
  <div layout="column">
    <span class="md-headline">{{$ctrl.callsign}}</span>
    <span class="md-subhead">{{$ctrl.departure}} -> {{$ctrl.destination}}</span>
    <span class="md-subhead">EOBT : {{$ctrl.eobt}}</span></span>
    <span class="md-subhead">Delay : {{$ctrl.delay}} min</span>
  </div>
  <div layout="row" layout-align="space-between center">
    <span class="md-subhead">Last updated {{$ctrl.lastUpdated}}</span></span>
    <md-button ng-click="$ctrl.forceRefresh()">Force refresh</md-button>
  </div>
  <md-divider></md-divider>
  <div layout="column" layout-align="start center" flex>
    <div
      ng-repeat="point in $ctrl.pointProfile track by $index"
      layout="row"
      layout-fill
      layout-align="space-around start"
    >
      <span>{{::$ctrl.parseTimeOver(point.timeOver)}}</span>
      <span>{{point.name}}</span>
      <span>{{point.flightLevel}}</span>
      <span>{{point.trend}}</span>
    </div>
  </div>
</div>
