<div ng-if="$ctrl.isLoading" layout="row" layout-align="space-around center">
  <md-progress-circular
    md-diameter="100"
    md-mode="indeterminate"
  ></md-progress-circular>
</div>
<div
  ng-if="$ctrl.isErrored"
>
  {{$ctrl.error}}
</div>
<div
  ng-if="!$ctrl.isLoading && $ctrl.showProfile"
  flex
>
  <div layout="column" flex>
    <span class="md-headline">{{$ctrl.callsign}}</span>
    <span class="md-subhead">{{$ctrl.departure}} -> {{$ctrl.destination}}</span>
    <span class="md-subhead">EOBT : {{$ctrl.eobt}}</span></span>
    <span class="md-subhead">Delay : {{$ctrl.delay}} min</span>
  </div>
  <div layout="row" layout-align="space-between center">
    <span class="md-subhead">Last updated {{$ctrl.lastUpdated}}</span></span>
    <md-button ng-click="$ctrl.forceRefresh()">Force refresh</md-button>
  </div>
  <md-divider></md-divider>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th align="center">Est.</th>
        <th align="center">Point</th>
        <th align="center">FL</th>
        <th align="center">Trend</th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="point in $ctrl.pointProfile track by $index"
      >
        <td align="center">{{::$ctrl.parseTimeOver(point.timeOver)}}</td>
        <td align="center">{{point.name}}</td>
        <td align="center">{{point.flightLevel}}</td>
        <td align="center">{{point.trend}}</td>
      </tr>
    </tbody>
  </table>
</div>
